.logo-container {
    left: 50px;
    position: absolute;
    top: 20px;
    z-index: 3;
}

.logo-container .logo {
    overflow: hidden;
    border-radius: 50%;
    width: 600px;
    float: left;
}

.logo-container .brand {
    font-size: 18px;
    color: red;
    line-height: 20px;
    float: right;
    margin-left: 10px;
    margin-top: 10px;
    width: 60px
}